li {

    color: blue;
    font-weight: bold;
}

div
{
    height: 20px;
}

.deleteLink {
    font-size: small;
}

.editLink {
    font-size: small;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

.jsonText {
    font-size: 0.8em;
}

.tempAlert {
    font-size: 0.8em;
    color: teal;
}

form {
    border-style: groove;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 8px;
}

.sendButton {
    margin-top: 8px;
}